$top-offset: 8%;
* {
    box-sizing: border-box;
  }

body {
    width: 100%;
}
.header {
    height: $top-offset;
    width: 100%;
    position: absolute;
    background-color: #082951;
}

.body-view {
    top: $top-offset;
    width: 100%;
    position: absolute;
    display: inline-flex;
    height: 100% - $top-offset;
}

.row {
    width: inherit;
}

.header-text {
    top: 30%;
    position: relative;
    text-align: center;
    color: white;
}

%body-child-views {
    position: relative;
    margin: 10px 10px 10px 20px;
    padding: 5px 5px 5px 10px; 
    background-color: #F9FCFC;
    box-shadow: 3px 4px 10px 3px #ced4da;
}

.clients-list {
    @extend %body-child-views;
    width: 20%;
    ul > li {
        text-align: center;
        font-size: 1.6em;
        cursor: pointer;
        margin: 15px 0 15px 0;
    }
    ul > li:hover {
        background-color: #ced4da;
    }
}

.clients-view {
    @extend %body-child-views;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}

.client-info {

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}